@font-face {
  font-family: "PT-Root-Bold";
  src: url(../fonts/PT-Root-UI_Bold.ttf);
}

@font-face {
  font-family: "PT-Root-Light";
  src: url(../fonts/PT-Root-UI_Light.ttf);
}

@font-face {
  font-family: "PT-Root-Medium";
  src: url(../fonts/PT-Root-UI_Medium.ttf);
}

@font-face {
  font-family: "PT-Root-Regular";
  src: url(../fonts/PT-Root-UI_Regular.ttf);
}

@font-face {
  font-family: "PT-Root-VF";
  src: url(../fonts/PT-Root-UI_VF.ttf);
}

* {
  box-sizing: border-box;
  font-family: "PT-Root-Regular";
  font-size: 16px;
}

body {
  margin: 0;
}

img {
  width: 100%;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  width: 100%;
}

.second-title {
  font-weight: 700;
  font-size: 24px;
  font-family: PT-Root-Bold;
}

.header-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 14px 0;
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-row .header-menu {
  display: flex;
  gap: 12px;
  flex: 1 1;
}

.header-row .header-menu .header-menu-title {
  font-family: PT-Root-Bold;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
}

.header-row .header-menu .header-menu-title:hover {
  color: #76bc21;
}

.header-row .header-menu-icon {
  width: 20px;
  height: 20px;
}

.header-row .header-logo {
  max-width: 128px;
  flex: 1 1;
  width: 100%;
}

.header-row .header-actions {
  flex: 1 1;
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: flex-end;
}

.header-row-center {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  border-top: 1px solid #f7f7f7;
}

.header-row-center .category-list {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.header-row-center .category-list .category {
  cursor: pointer;
}

.header-row-center .category-list .category:hover {
  color: #76bc21;
}

.header-row .header-actions .header-basket-count {
  position: relative;
}

.header-row .header-actions .header-basket-count .basket-count {
  position: absolute;
  background-color: #ee632c;
  border: 1px solid #ee632c;
  border-radius: 200px;
  font-size: 12px;
  color: white;
  width: 18px;
  height: 18px;
  text-align: center;
  font-weight: 600;
  font-family: PT-Root-Bold;
  right: -10px;
  top: -7px;
}

.product .product-footer .product-action {
  border-radius: 100px;
  background: #76bc20;
  font-size: 12px;
  color: white;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 3px;
  justify-content: center;
  position: relative;
}

.product .product-footer .product-action-img {
  max-width: 23px;
}

.product .product-footer .product-action .count-in-basket {
  min-width: 18px;
  height: 18px;
  padding: 0 3px;
  line-height: 18px;
  font-size: 12px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  background-color: #93dc39;
}

.catalog {
  display: flex;
  gap: 30px;
}

.catalog .sidebar {
  max-width: 275px;
  width: 100%;
}

.catalog .sidebar .navigation {
  display: flex;
  gap: 10px;
  padding: 0;
  margin: 0;
}

.catalog .sidebar .navigation .item {
  list-style: none;
}

.catalog .sidebar .filter {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.catalog .sidebar .filter .filter-row {
  position: relative;
}

.catalog .sidebar .filter .filter-row.sort-wrapper::after {
  content: "";
  width: 24px;
  height: 24px;
  right: 12px;
  margin: 12px 0;
  position: absolute;
  z-index: 0;
  pointer-events: none;
  top: -2px;
  background-image: url("../icons/arrow-down.svg");
  background-size: 18px;
  background-repeat: no-repeat;
}

.catalog .sidebar .filter .filter-row .sort {
  appearance: none;
  border: 1px solid #ededed;
  padding: 8px 32px 8px 8px;
  outline: none;
  width: 100%;
  cursor: pointer;
  background-color: #fff;
}

.catalog .sidebar .filter .filter-row .details-block {
  border-bottom: 1px solid #ededed;
  position: relative;
}

.catalog .sidebar .filter .filter-row .details-block[open] {
  padding: 0 0 20px 0;
}

.catalog .sidebar .filter .filter-row .details-block[open]::after {
  transform: rotatex(180deg);
}

.catalog .sidebar .filter .filter-row .details-block::after {
  content: "";
  width: 24px;
  height: 24px;
  right: 12px;
  margin: 12px 0;
  position: absolute;
  z-index: 0;
  pointer-events: none;
  top: -12px;
  background-image: url("../icons/arrow-down.svg");
  background-size: 18px;
  background-repeat: no-repeat;
}

.catalog .sidebar .filter .filter-row .details-block summary {
  list-style: none;
  font-weight: 500;
  font-family: "Pt-Root-Medium";
  padding: 0 0 20px 0;
  cursor: pointer;
}

.catalog .sidebar .filter .filter-row .filter-price {
  display: flex;
  gap: 16px;
  align-items: center;
}

.catalog .sidebar .filter .filter-row .filter-price .price-block {
  max-width: 100%;
  width: 100%;
}

.catalog
  .sidebar
  .filter
  .filter-row
  .filter-price
  .price-block
  .price-placeholder {
  font-size: 14px;
  color: #999999;
  position: absolute;
  padding: 7px 1px 1px 7px;
}

.catalog .sidebar .filter .filter-row .filter-price .price-block input {
  width: 100%;
  padding: 5px 10px 5px 30px;
  font-size: 14px;
  outline: none;
  border: 1px solid black;
  transition: 0.2s;
}

.catalog .sidebar .filter .filter-row .filter-price .price-block input:focus {
  border: 1px solid #ccc;
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.05);
  color: #333333;
}

.catalog .sidebar .filter .filter-row .filter-price .delimeter {
  font-size: 24px;
  color: #ededed;
}

.catalog .sidebar .filter .filter-row .color-filter {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.catalog .sidebar .filter .filter-row .color-filter .color-row {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0 25px 0 0;
}

.catalog .sidebar .filter .filter-row .color-filter .color-row .color-checkbox {
  width: 18px;
  min-width: 18px;
  height: 18px;
  margin-right: 8px;
  border: 1px solid #ededed;
  border-radius: 2px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.catalog .sidebar .filter .filter-row .color-filter .color-row .color label {
  width: 100%;
  cursor: pointer;
}

.catalog
  .sidebar
  .filter
  .filter-row
  .color-filter
  .color-row
  .color
  input[type="checkbox"] {
  opacity: 0.2;
  position: absolute;
  width: 1px;
  height: 1px;
  top: 0;
  right: 0;
}

.catalog
  .sidebar
  .filter
  .filter-row
  .color-filter
  .color-row
  .color
  input[type="checkbox"]:checked
  ~ .color-checkbox::before {
  content: "\2713";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 12px;
}

.catalog
  .sidebar
  .filter
  .filter-row
  .color-filter
  .color-row
  .color
  input[type="checkbox"]:checked
  ~ .color-checkbox {
  background: #76bc21;
  border-color: #76bc21;
}

.catalog .sidebar .filter .filter-row .button-reset {
  width: 100%;
  background: #fff;
  border: 1px solid #333333;
  outline: none;
  padding: 8px;
  cursor: pointer;
}

.catalog .products-container {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.catalog .products-container .products {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  gap: 10px;
}

.catalog .products-container .products .product {
  max-width: 180px;
  position: relative;
  width: 100%;
  cursor: pointer;
  margin: 13px;
}

.catalog .products-container .products .product:hover .name {
  color: #76bc21;
}

.catalog .products-container .products .product .labels {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  gap: 5px;
  max-width: 160px;
  flex-wrap: wrap;
  width: 100%;
}

.catalog .products-container .products .product .labels .label {
  color: white;
  font-size: 11px;
  padding: 4px;
}

.catalog .products-container .products .product .labels .label.new {
  background: #76bc20;
}

.catalog .products-container .products .product .labels .label.sale {
  background: #fe7202;
}

.catalog .products-container .products .product .labels .label.discount {
  background: #e44442;
}

.catalog .products-container .products .product .favorites {
  max-width: 20px;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  width: 100%;
}

.catalog .products-container .products .product .favorites .in-favorites {
  display: none;
}

.catalog .products-container .products .product .favorites.in .in-favorites {
  display: inline-block;
}

.catalog .products-container .products .product .favorites.in .no-in-favorites {
  display: none;
}

.catalog .products-container .products .product .photo {
  max-width: 163px;
  width: 100%;
}

.catalog .products-container .products .product .product-footer {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  gap: 15px;
  align-items: center;
}

.catalog
  .products-container
  .products
  .product
  .product-footer
  .price-container
  .old-price {
  color: #999999;
  text-decoration: line-through;
  font-size: 14px;
}

.catalog
  .products-container
  .products
  .product
  .product-footer
  .price-container
  .price {
  font-weight: 500;
  font-family: PT-Root-Medium;
}

.catalog
  .products-container
  .products
  .product
  .product-footer
  .product-action {
  padding: 3px 5px;
  border-radius: 100px;
  background-color: #76bc20;
}

.catalog .products-container .products .product .product-footer-shortname {
  margin-top: 34px;
  display: flex;
  justify-content: space-between;
  gap: 15px;
  align-items: center;
}

.catalog
  .products-container
  .products
  .product
  .product-footer-shortname
  .price-container
  .old-price {
  color: #999999;
  text-decoration: line-through;
  font-size: 14px;
}

.catalog
  .products-container
  .products
  .product
  .product-footer-shortname
  .price-container
  .price {
  font-weight: 500;
  font-family: PT-Root-Medium;
}

.catalog
  .products-container
  .products
  .product
  .product-footer-shortname
  .product-action {
  padding: 6px 8px;
  border-radius: 100px;
  background-color: #76bc20;
}

.categories {
  display: flex;
  gap: 32px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.categories .category {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.categories .category .image {
  max-width: 222px;
}

.categories .category .title {
  color: #333333;
  font-size: 20px;
}

.footer {
  margin: 0 auto;
  max-width: 1240px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer .footer-menu .menu-item {
  font-weight: bold;
  text-decoration: none;
  color: inherit;
  margin-right: 24px;
  line-height: 32px;
}

.footer .created-by {
  color: #999999;
  text-decoration: none;
  font-size: 15px;
}
